/* General */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.button:active {
  color: rgba(225, 225, 225, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

/* Удалить потом */
.perfect-pixel {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1000;

  display: block;
  width: 577px;
  margin-right: auto;
  margin-left: auto;

  opacity: 0.3;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background: #F2F2F2;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  background: #FFFFFF;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/*Header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.logo-link {
  display: block;
  margin: 0 28px -6px 0;
  padding: 0;
}

.logo {
  position: relative;
  z-index: 1;

  display: block;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 0;
  padding: 0;
  max-width: 620px;
}

.navigation-list,
.advantages-list,
.custom-menu-list,
.comfort-list {
  list-style-type: none;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 20px 16px;

  color: #000000;
  text-decoration: none;
}

.navigation-link-active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  z-index: 1;

  width: calc(100% - 32px);

  border-bottom: 2px solid #756257;
}

.custom-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 357px;
}

.custom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
  padding: 0;
}

.custom-link {
  display: block;
  width: 44px;
  height: 64px;

  background-repeat: no-repeat;
  background-position: center;
}
.custom-link-search {
  background-image: url(../images/header/search.svg);
}

.custom-link-favorites {
  position: relative;

  background-image: url(../images/header/favorites.svg);
}

.number-of-favorites {
  position: absolute;
  top: 10px;
  left: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;

  background-color: #7DB54F;
  border-radius: 50%;
}

.want-here {
  min-width: 160px;
  margin: 0;
  padding: 8px 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
}

.want-here:hover,
.want-here:focus {
  background-color: #615048;
}

/*Index-main*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  position: relative;
  padding: 51px 0 82px;
  background-color: rgba(131, 179, 211, 0.50);
  background-image: url(../images/main/red-rocks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 100;

  width: 100%;
  height: 57px;

  background-image: url(../images/main/ladder.svg);
  background-repeat: no-repeat;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.little-town {
  margin-bottom: 21px;
  padding: 69px 0;
}

.title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.title-light {
  color: #FFFFFF;
}

.little-town-title {
  margin-bottom: 25px;
}

.subtitle {
  margin: 0;
  padding: 0;

  text-align: center;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-container,
.advantages-item-container-light {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 100px 85px;

  gap: 30px;
}

.advantages-item-container::before,
.advantages-item-container-light::before {
  content: "";

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-container-light::before {
  background-color: #FFFFFF;
}


.advantages-title {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;

  color: #FFFFFF;

  background-color: #82B3D3;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4),
.comfort-item:not(.comfort-food) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-img {
  height: 100%;

  -o-object-fit: cover;

     object-fit: cover;
}

.img-left {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.comfort {
  padding: 64px 0;
}

.title-inner {
  margin-bottom: 20px;
}

.comfort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.comfort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 80px 85px;
}

.comfort-title {
  margin: 0 0 30px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.comfort-housing::before {
  content: "";

  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;

  background-image: url(../images/main/advantage-housing.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.comfort-food::before {
  content: "";

  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;

  background-image: url(../images/main/advantage-food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.comfort-souvenirs::before {
  content: "";

  display: block;
  width: 75px;
  height: 76px;
  margin-bottom: 30px;

  background-image: url(../images/main/advantage-souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.interested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px 0;
}

.interested-text {
  max-width: 600px;
}

.search {
  display: block;
  margin-top: 54px;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
}

.search:hover,
.search:focus {
  background-color: #615048;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px 0 104px;

  color: #FFFFFF;

  background-color: #82B3D3;
  background-image: url(../images/main/blurred-rocks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-text {
  max-width: 500px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.subscribe-field {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  min-width: 452px;
  padding: 12px 20px;

  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);

  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-field:disabled,
.subscribe-get:disabled {
  background-color: #E5E5E5;
}

.subscribe-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 232px;
  padding: 8px 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  font-family: inherit;
  color: #FFFFFF;
  text-transform: uppercase;

  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-get:hover {
  background-color: #68A2CA;
}

.subscribe-get:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Catalog*/
.catalog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 70px 70px;

  color: #FFFFFF;

  background-color: #82B3D3;
  background-image: url(../images/catalog/blured-rocks-catalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 40px;
  padding: 0;

  list-style-type: none;
  font-size: 16px;
  line-height: 21px;

  gap: 10px;
}

.breadcrumbs-link-index-wrapper {
  position: relative;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 13px;
  height: 13px;
  margin-right: 19px;

  background-image: url(../images/catalog/to-main-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.breadcrumbs-link-index-wrapper::after {
  content: "";
  position: absolute;
  left: 23px;
  bottom: 0;
  width: 8px;
  height: 13px;

  background-image: url(../images/catalog/arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link-index {
  padding: 6px;
}

.breadcrumbs-link-index:hover,
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link-index:active,
.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 71px 0 0;
  padding: 0;
  max-width: 150px;

  border: none;

  gap: 16px;
}

.infrastructure-input {
  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;

  -webkit-appearance: none;

     -moz-appearance: none;

          appearance: none;
}

.infrastructure-input:checked {
  background-image: url(../images/catalog/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.infrastructure-input:hover,
.housing-input:hover,
.input-submit:hover {
  opacity: 0.6;
}

.infrastructure-input:active,
.housing-input:active,
.input-submit:active {
  opacity: 0.3;
}

.infrastructure-option,
.housing-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 16px;
}

.infrastructure-option:hover,
.housing-option:hover {
  opacity: 0.6;
}

.infrastructure-option:active,
.housing-option:active {
  opacity: 0.3;
}

.type-of-housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 0;
  padding: 0;
  max-width: 150px;

  border: none;

  gap: 16px;
}

.housing-input {
  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;

  -webkit-appearance: none;

     -moz-appearance: none;

          appearance: none;
}

.housing-input:checked {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #3F5E72;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
}

.price {
  margin: 0 70px 0 0;
  padding: 0 0 11px 0;

  border: none;
}

.price-label {
  position: relative;
}

.price-from,
.price-up-to {
  position: absolute;
  right: 20px;

  margin: 0;
  padding: 12px 0;

  color: #000000;
}

.min-price,
.max-price {
  width: 142px;
  height: 48px;
  margin: 0;
  padding: 0 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;

  background: #FFFFFF;
  border: none;
  border-radius: 4px 0 0 4px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-slider-container {
  position: relative;
  margin-top: 44px;
}

.price-slider {
  position: absolute;
  width: 287px;
  height: 4px;
  background-color: rgba(225, 225, 225, 0.3);
}

.price-slider-moving {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.price-slider-min {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.price-slider-min:active,
.price-slider-max:active {
  border: 2px solid #83B3D3;
}

.price-slider-max {
  position: absolute;
  top: -8px;
  right: 62px;

  width: 20px;
  height: 20px;

  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button-on,
.button-off {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;

  border: none;
}

.button-on {
  margin-bottom: 32px;

  background-color: #82B3D3;
}

.button-on:hover,
.button-on:focus {
  background-color: #68A2CA;
}

.button-off {
  background-color: rgba(130, 179, 211, 0);
}

.button-off:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-off:disabled {
  opacity: 0.1;
}

.button-on:disabled {
  background-color: #E5E5E5;
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 70px 60px 70px;
}

.catalog-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.searching-results {
  margin: 0 auto 0 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.dropdown {
  width: 292px;
  margin-right: 70px;
  padding: 12px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;

  background: url(../images/catalog/arrow-down.svg) no-repeat right 18px top 17px;
  background-position: center right 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;

  -webkit-appearance: none;

     -moz-appearance: none;

          appearance: none;
}

.dropdown:hover {
  border: 2px solid #68A2CA;
}

.dropdown:disabled {
  color: rgba(0, 0, 0, 0.30);

  border: 2px solid rgba(0, 0, 0, 0.30);
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  gap: 8px;
}

.show-button {
  width: 48px;
  height: 48px;
  padding: 14px 12px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.show-button:hover,
.show-button:active,
.show-active {
  border-color: #000000;
}

.show-tiles {
  background-image: url(../images/catalog/tiles.svg);
}

.show-tiles-big {
  background-image: url(../images/catalog/tiles-big.svg);
}

.show-list {
  background-image: url(../images/catalog/list.svg);
}

.product-list {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin: 40px 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
}

.product-list::after {
  content: "";
  position: absolute;
  bottom: -40px;

  width: 100%;
  border: 1px solid #E6E6E6;

}

.product-card {
  display: -ms-grid;
  display: grid;
  padding: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;

  gap: 16px 20px;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: repeat(2, 140px);
  -ms-grid-rows: 212px 16px 1fr;
  grid-template-rows: 212px 1fr;
}

.product-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product-card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product-image {
  background-size: cover;
  min-width: 300px;
  min-height: 212px;
  background-color: #F2F2F2;
}

.product-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-link-image {
  background-size: cover;
  grid-column: 1/-1;
}

.product-link {
  color: #000000;
  text-decoration: none;

  cursor: pointer;

  grid-column: 1/-1;
}

.product-type {
  margin: 0;
  padding: 0;

  line-height: 21px;
}

.product-price {
  margin: 0;
  padding: 0;

  line-height: 21px;

  -ms-grid-column-align: end;

      justify-self: end;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 2px 5px;

  background-color: #756157;
}

.product-details:hover,
.product-details:focus {
  background-color: #615048;
}

.to-favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  background-color: #82B3D3;
  border: none;
}

.active {
  background-color: #7DB54F;
}

.to-favorites:hover,
.to-favorites:focus {
  background-color: #68A2CA;
}

.to-favorites.active:hover,
.to-favorites.active:focus {
  background-color: #6C9E42;
}

.product-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  gap: 6px;
}

.star {
  display: block;
  width: 18px;
  height: 17px;

  background-image: url(../images/catalog/star.svg);
  background-repeat: no-repeat;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 37px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.rating-quantity {
  margin-left: 4px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 39px 0 0 0;
  padding: 0;

  list-style-type: none;

  gap: 8px;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;

  background-color: #82B3D3;
}

.pagination-link:hover
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  outline: 2px solid #000000;
}

.pagination-link-active {
  color: #000000;

  background-color: #F2F2F2;
}

.pagination-link-active:hover,
.pagination-link-active:active {
  color: #000000;

  background-color: #F2F2F2;
}

.pagination-link-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #FFFFFF;
}

.subscribe-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px 0 104px;
}

/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 70px 30px 70px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 52px;

  color: #83B3D3;
}

.social-link:hover,
.social-link:focus {
  color: #68A2CA;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-phone:hover,
.contacts-phone:focus,
.logo-html-academy:hover,
.logo-html-academy:focus {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:active,
.logo-html-academy:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html-academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #000000;
}

/*Modal-container*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 717px;
  margin: auto;
  padding: 64px 70px;

  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  width: 52px;
  height: 52px;
  padding: 0;

  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 19px;
  right: 19px;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #E6E6E6;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 64px 0;
  padding-right: 40px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.modal-form {
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: 137px 110px 219px 111px;

  grid-template-columns: 137px 110px 219px 111px;
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;

  -ms-grid-column: 1;

  -ms-grid-column-span: 1;

  grid-column: 1/2;
}

.modal-field-container {
  grid-column: 2/-1;
}


.modal-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;

  background-color: #F2F2F2;
  border: none;

  -webkit-appearance: none;

     -moz-appearance: none;

          appearance: none;
}

.modal-field-long {
  width: 440px;
  height: 48px;
  padding: 12px 20px;

  background-image: url(../images/modal/calendar.svg);
  background-repeat: no-repeat;
  background-position: center right 23px;
  border-radius: 4px;
}

.modal-field-long:hover,
.modal-field-long:focus {
  background-color: #E6E6E6;
}

.modal-error {
  color: #FF5757;
}

.modal-massege {
  width: 100%;
  margin: 4px 0 23px 0;
  padding-left: 20px;

  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
}

.adults-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 48px;

  -ms-grid-column: 2;

  -ms-grid-column-span: 1;

  grid-column: 2/3;
}

.modal-submit-children-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-submit-children {
  margin-right: 11px;
  padding-top: 0;

  -ms-grid-column: 3;

  -ms-grid-column-span: 1;

  grid-column: 3/4;
}

.children-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 48px;

  -ms-grid-column: 4;

  -ms-grid-column-span: 1;

  grid-column: 4/5;
}

.modal-field-short {
  width: 31px;
  height: 48px;
}

.button-quantity {
  width: 40px;
  height: 48px;
  padding: 13px 10px;

  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.button-less {
  border-radius: 4px 0 0 4px;
}

.button-more {
  border-radius: 0 4px 4px 0;
}

.minus:hover,
.minus:focus,
.button-more:hover,
.button-more:focus {
  color: #000000;
} /*НЕ РАБОТАЕТ! АЛЯРМ*/

.minus {
  display: block;
  width: 14px;
  height: 14px;
}

.plus {
  display: block;
  width: 14px;
  height: 14px;
}

.tooltip-info {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 4px 0 0;
  padding: 0;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;

  background-color: #83B3D3;
  background-image: url(../images/modal/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: 39px;
  left: -117px;

  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;

  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: none;

  background-color: #333333;
  border-radius: 10px;
}


.tooltip-text::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  left: 0;

  width: 19px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;

  background-image: url(../images/modal/triangle.svg);
  background-repeat: no-repeat;
}

.tooltip-info:hover + .tooltip-text {
  display: block;
}

.modal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  margin-top: 48px;
  padding: 18px 77px;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  text-align: center;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
  grid-column: 1/-1;
}

.modal-search:hover,
.modal-search:focus {
  background-color: #68A2CA;
}
