@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333;
  background-color: #FFFFFF;
}

.page-container {
  min-height: 100%;
  width: 1200;
}

.visually-hidden {
  display: none;
}

 /*Header*/
.navigation {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-list,
.advantages-list,
.custom-menu,
.comfort-list {
  list-style-type: none;

}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.want-here {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  background-color: #756157;
}

/*Index-main*/
.hero {
  background-color: #82B3D3;
  background-image: url("../images/main/red-rocks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subtitle {
  text-align: center;
}

.advantages-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item,
.comfort-item:nth-child(2){
  background-color: rgba(131, 179, 211, 0.20)
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4),
.comfort-item {
  background-color: rgba(131, 179, 211, 0.12)
}
.advantages-item,
.comfort-item {
  min-height: 385px;
  width: 400px;
}

.comfort-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/main/blurred-rocks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Catalog*/
.catalog-main-header {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/catalog/blured-rocks-catalog.jpg);
  background-repeat: no-repeat;
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link{
  color: #FFFFFF;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.button-on,
.button-off {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-on {
  background-color: #82B3D3;
  border-radius: 4px;
}

.button-off {
  background-color: rgba(130, 179, 211, 0);
}

.searching-results{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.product-list {
  list-style-type: none;
}

.product-card {
  width: 340px;
  height: 438px;
}

.product-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.product-details,
.product-link {
  color: #000000;
  text-decoration: none;
}

.product-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-list {
  list-style-type: none;
}

.pagination-item {

}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-more {
  color:#000000;
  background-color: #FFFFFF; /*в макете это поле иное по размеру, значит класс другой ставить? такой взгляд не соответствует макету?*/

}

.subscribe-get {
  color: #FFFFFF;
  background-color: #82B3D3;
}


/*Footer*/
.contacts-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  text-transform: uppercase;
}
